<!-- I am the index route. I am special. no entry in router. default? -->
<div class="container">
<h1> Welcome to Super Rentals </h1>

We hope you find exactly what you're looking for in a place to stay.

<ul>
  {{#each model as | modelElement |}}
    {{rental-tile rental=modelElement update="update" destroyRental="deleteRental"}}
    <!-- destroyRental is an output from the rental-tile component. triggering destroyRental method on this template's route handler. -->
  {{/each}}
</ul>

{{new-rental saveToRouteHandler="saveToStore"}}

{{#link-to 'about'}}About{{/link-to}}
{{#link-to 'contact'}}Click here to contact us.{{/link-to}}
{{#link-to 'announcements'}}View announcements.{{/link-to}}
</div>